.hero{
    display: flex;
    align-items: center;
    height: 65vh;
    padding-top: var(--padding-top-hero);
}

.big-button{
    padding: 15px 30px;
    border-radius: 40px;
    text-align: center;
    width: 190px;
    border: 1px solid var(--color2);
    background-color: var(--color2);
    color: var(--background-color);
    margin-right: 15px;
    transition: var(--transition-buttons);
    font-size: 18px;
    font-weight: 600;
}

.big-button:hover{
    background: var(--background-color);
    color: var(--color2);
    cursor: pointer;
}

.contenedor-dos-botones{
    display: flex;
}