header{
    background-color: var(--background-color);
    position: fixed;
    box-sizing: border-box;
    top: 0;
    /* border: 1px solid red; */
    width: calc(100% + var(--general-lateral-margin)); /* Ancho del header, restando los márgenes del body */
    margin-left: calc(-1*var(--general-lateral-margin)); /* Compensa el margen izquierdo del body */
    margin-right: calc(-1*var(--general-lateral-margin)); /* Compensa el margen derecho del body */
    padding-left: var(--general-lateral-margin);
    padding-right: calc(2*var(--general-lateral-margin));
}

.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-basis: 100%;
    flex-grow: 1;
    /* margin-right: var(--margin-right-header); */
}

/* Icono para desplegar el menu en responsive */
.header-container i{
    color: var(--color1);
    font-size: 40px;
    margin: 10px 0px;
    display: none;
}

.header-container a{
    font-size:18px;
    font-weight: 500;
    /* text-decoration: none; */
    color:var(--color1);
} 

.header-izq{
    display: flex;
    align-items: center;
}

.header-izq .portafolio{
    font-size: 32px;
    font-weight: 600;
    margin-left: 0px;
}

.header-izq p:hover{
    cursor: pointer;
}

.header-container img{
    width:45px;
    height:45x;
}

/* Barra de navegacion y sus divisiones */
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-basis: 100%;
    margin: 0px 10px;
    padding: 0 10px; 
    /* border: 1px solid green; */
}

nav a:hover{
    color: var(--color2);
    transition: 0.5s;
}

/* Boton de la parte derecha de la barra de navegacion */
.div-boton{
    display: flex;
    align-items: center;
    justify-content: center;
}

.small-button{
    align-self: center;
    width: 150px;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid var(--color2);
    background-color: var(--background-color);
    color: var(--color2);
    transition: var(--transition-buttons);
    font-size: 18px;
}

.small-button:hover{
    background: var(--color2);
    color: var(--background-color);
    cursor: pointer;
}