/* Estilo general del body */
body {
    margin: 0 20px; /* Márgenes derecho e izquierdo */
    font-family: Arial, sans-serif;
    border: 1px red solid;
  }
  
  /* Estilo del header */
  header {
    background-color: #f8f8f8;
    padding: 20px;
    box-sizing: border-box; /* Asegura que el padding se incluya en el ancho total */
    width: calc(100% + 40px); /* Ancho del header, restando los márgenes del body */
    margin-left: -20px; /* Compensa el margen izquierdo del body */
    margin-right: -20px; /* Compensa el margen derecho del body */
    border: green 1px solid;
  }
  
  header h1 {
    margin: 0;
  }
  
  header nav {
    display: flex;
    gap: 10px;
  }
  
  header nav a {
    text-decoration: none;
    color: #333;
    padding: 10px;
    background-color: #e0e0e0;
    border-radius: 4px;
  }
  
  header nav a:hover {
    background-color: #d0d0d0;
  }
  
  main {
    padding: 20px 0;
  }
  