/* Seccion Proyectos */
.contenedor-proyectos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-between;
    /* border: 1px solid red; */
    padding-top: 20px;
}


